
input,

label {
      margin: .4rem 0;
      }

input {
      border-radius: 30px;
      }

input {
      width: 400px
      }
label,
footer {
    font-family: sans-serif;
}

label {
    font-size: 1rem;
    padding-right: 10px;
}

select {
    font-size: .9rem;
    padding: 2px 5px;
}

footer {
    font-size: .8rem;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.output {
    background: center/cover no-repeat url('/media/examples/hamster.jpg');
    position: relative;
}
p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}
label {
    font-family: sans-serif;
    font-size: 1rem;
    padding-right: 10px;
}

select {
    font-size: .9rem;
    padding: 2px 5px;
}
p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

input[type="checkbox"] {
  width: 10px;
}
input[type="radio"] {
  width: 10px;
}

.textarea { 
border-color: red;
}

.textarea:focus {
border-color: green;
outline: none;
}